.character-box {
    max-width: 325px;
  cursor: pointer;
  transition: transform 0.2s ease;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.character-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.character-name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.character-title {
  color: #666;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 300;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
