body {
    font-family: "Montserrat", serif
}

#pagetitle {
    font-size: 50px;
    text-align: center;
}

#charagrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}